<template>
  <div class="container deck">
    <board />
  </div>
</template>

<script>
import Board from '@/components/Board.vue';


export default {
  name: "deck",
  components: {
    Board
  }
}
</script>

<style lang="scss" scoped>
.deck {
  margin-top: 1em;
}
</style>
