<template>
  <div class="home">
    <decks />
  </div>
</template>

<script>
// @ is an alias to /src
import Decks from "@/components/Decks.vue";

export default {
  name: "home",
  components: {
    Decks
  }
};
</script>
