<template>
  <div class="md-layout md-alignment-top-center">
    <div class="md-layout-item md-size-55 ">
      <score :perf="perf" :completed="completed" :total="completed.length + bank.length + 1" :metrics="metrics"/>
      <question :updateScore="updateScore" :question="question" :submitAnswer="submitAnswer"/>
      <p>{{result}}</p>
    </div>
  </div>
</template>

<script>
import Score from "@/components/Score.vue";
import Question from "@/components/Question.vue";
import { dictionary, randomChoice, popFrom } from "@/kana.js";

export default {
  name: "Board",
  components: {
    Score,
    Question
  },
  data() {
    return {
      perf: [],
      question: "",
      bank: [],
      completed: [],
      metrics: [],
      result: ""
    };
  },
  methods: {
    updateScore(answer, correctAnswer, timeTaken) {
      console.log("Update score called", answer, correctAnswer, timeTaken);
      if (timeTaken > 0) {
        this.perf.push(timeTaken);
      }

      this.metrics.push({
        question: this.question,
        currentAnswer: answer,
        correctAnswer: correctAnswer,
        questionCorrect: answer === correctAnswer,
        timeTaken: timeTaken
      });
    },
    submitAnswer(answer, timeTaken) {
      if (dictionary[this.question] === answer) {
        console.log("You got it");
        this.updateScore(answer, dictionary[this.question], timeTaken);
        this.completed.push(answer);
      } else {
        console.log("Try again.", answer, " is a wrong answer.");
        this.bank.push(this.question);
        this.updateScore(answer, dictionary[this.question], -timeTaken);
      }

      this.nextQuestion();
    },
    nextQuestion() {
      this.loadTime = Date.now();
      this.answer = "";

    if (this.bank.length < 1){
        // We ran out of question.
        this.iAmFinished();
    }

      let q = randomChoice(this.bank);
      this.bank = popFrom(this.bank, q);

      console.log("Asking ", q, "remaining ", this.bank);

      this.question = q;
    },
    iAmFinished ( ) {
        this.result = this.metrics;

    }
  },
  mounted() {
    //     When the app load. We load a random word into the box.
    this.bank = Object.keys(dictionary);
    this.nextQuestion();
  }
};
</script>

<style>
.big-char {
  font-size: 4em;
}

.points {
  font-size: 1.3em;
}

.points .point-int {
  font-size: 1.5em;
  font-family: monospace;
}
</style>
