<template>
<div class="container">
  <h4>
    Hello, choose a deck to start !
    <div class="center">
      <md-card md-with-hover v-for="card in cardDeck">
        <md-ripple>
          <md-card-header>
            <div class="md-title">{{card.name}}</div>
            <div class="md-subhead">It also have a ripple</div>
          </md-card-header>
          <md-card-content>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio itaque ea, nostrum odio. Dolores, sed accusantium quasi non.
          </md-card-content>
        </md-ripple>
      </md-card>
    </div>
  </h4>
</div>
</template>

<script>
export default {
  name: "decks",
  data () {
    return {
      "cardDeck": [
        {"name": "blah"},
        {"name": "blah"},
        {"name": "blah"},
        {"name": "blah"},
        {"name": "blah"},
        {"name": "blah"},
        {"name": "blah"},
        {"name": "blah"},
        {"name": "blah"},
        {"name": "blah"}
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
.md-card {
    width: 10em;
    margin: .5em;
    display: inline-block;
    vertical-align: top;
    text-align: left;
}
</style>
