<template>

  <div>
    <md-card class="card">
      <md-card-header>
        <div class="md-title">How do you read ...</div>
      </md-card-header>
      <md-card-content>
        <div class="big-char">
          <em>
            {{question}}
          </em>
        </div>
        <form class="input-field" v-on:submit.prevent="nextQuestion">
          <md-field>
            <md-input id="answer"
                      v-model="answer"
                      type="text"
                      placeholder="Type your answer here ..."
                      v-on:focus="loadTime = Date.now();"
            />
          </md-field>
        </form>
      </md-card-content>
    </md-card>
  </div>


</template>

<script>
export default {
  name: "Question",
  props: ["updateScore", "question", "submitAnswer"],
  data() {
    return {
      loadTime: -1,
      answer: ""
    };
  },
  methods: {
    nextQuestion: function() {
      let submittedTime = Date.now() - this.loadTime;

      console.log("Run next question", this.answer);
      console.log("You answered this question in %d (ms)", submittedTime);

      this.submitAnswer(this.answer, submittedTime);
      this.answer = "";
      this.loadTime = Date.now();
    }
  },
  mounted() {
    console.log("Question mounted");
  }
};
</script>

<style scoped>
.big-char {
  text-align: center;
  margin: 1em;
}

#answer[type="text"] {
  display: block;
  width: 100%;
  height: 3em;
  font-size: 1.5em;
  line-height: 1em;
  text-align: center;
}
</style>
