<template>
<md-card id="score-card" class="card">
  <md-card-header>
    <div class="md-title">Performance</div>
  </md-card-header>
  <md-card-content class="card-content">
    <div class="row">
      <div class="col s6">
        <p>
          <span class="points">Average time:
            <em class="point-int">{{averageTime}} ms</em>
          </span>
        </p>
        <p>
          <span class="points">Completed:
            <em class="point-int">{{this.completed.length}}/{{this.total}}</em> questions</span>
        </p>
      </div>
      <div class="col s6">
        <p>
          <span class="points">Average time:
            <em class="point-int">{{averageTime}} ms</em>
          </span>
        </p>
        <p>
          <span class="points">Misses:
            <em class="point-int">{{this.completed.length}}/{{this.total}}</em> questions</span>
        </p>
      </div>
    </div>
    <md-progress-bar md-mode="determinate" :md-value="this.progress"></md-progress-bar>
  </md-card-content>
</md-card>
</template>

<script>
export default {
  name: "Score",

  props: ["perf", "completed", "total", "metrics"],
  computed: {
    progress() {
      let prog = this.completed.length * 1.0 / this.total;
      console.log("Prog", prog, this.completed.length, this.total);
      return prog * 100;
    },
    averageTime() {
      if (this.perf.length < 1) {
        return "--";
      }
      let avgTime = this.perf.reduce((acc, c) => acc + c) / this.perf.length;

      // Javascript is too good to have a normal round function that accept actual decimal places.
      return Math.round(avgTime);
    }
  }
};
</script>

<style>
.md-card-header {
  padding-bottom: 0;
}
</style>
