<template>
  <div id="app">

    <md-toolbar class="md-accent">
      <h3 class="md-title" style="flex: 1">かなゲーム</h3>
      <md-button class="md-primary">Home</md-button>
    </md-toolbar>

    <router-view/>
  </div>


</template>
